{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block content %}
  <form action="" method="POST" class="form text-white mt-5 ns">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
      <button class="btn btn-warning"type="submit">
        제출
      </button>
      <button class="btn btn-warning mx-3">
        <a class="text-decoration-none text-body" href="{% url 'accounts:signup' %}">
          회원가입
        </a>
      </button>
    {% endbuttons %}
  </form>
  
{% endblock %}