{% extends 'base.html' %}
{% load static %}
{% block content %}
  <div class="media">
    {% if person.image %}
      <img src="{{ person.image.url }}" alt="{{ person.image }}" class="align-self-center mr-3 rounded-circle border border-warning mt-4">
    {% else %}
      <img width=150px height=150px src="{% static 'accounts/profile.png' %}" class="align-self-center mr-3 rounded-circle border border-warning mt-4" alt="profile">
    {% endif %}
    <div class="media-body">
      <h1 class="mt-4">{{ person.username }}</h1>
      {% comment %} <p>{% include 'accounts/_follow.html' %}</p> {% endcomment %}
      <p class="mb-0">{{ person.selfpr }}</p>
    </div>
  </div>
  <p class="mt-3 ml-4"><a href="{% url 'accounts:update' person.pk %}">회원정보수정</a></p>
  <hr>
  <ul class="list-group">
    <li class="list-group-item list-group-item-info">{{ person.username }}이 작성한 리뷰</li>
    {% for review in person.reviewarticle_set.all %}
      <li class="list-group-item"><p class="my-2"><a href="{% url 'articles:review_detail' review.pk %}" class="badge badge-success">바로가기</a>&ensp;&ensp;{{ review.title }}</p></li>
    {% endfor %}
  </ul>
  <hr>
  <ul class="list-group">
    <li class="list-group-item list-group-item-info">{{ person.username }}이 작성한 리뷰 댓글</li>
    {% for review_comment in person.reviewcomment_set.all %}
      <li class="list-group-item"><p class="my-2"><a href="{% url 'articles:review_detail' review_comment.review_article.pk %}" class="badge badge-success">바로가기</a>&ensp;&ensp;{{ review_comment.content }}</p></li>
    {% endfor %}
  </ul>
  <hr>
  <ul class="list-group">
    <li class="list-group-item list-group-item-info">{{ person.username }}이 작성한 글</li>
    {% for talk in person.talkarticle_set.all %}
      <li class="list-group-item"><p class="my-2"><a href="{% url 'articles:talk_detail' talk.pk %}" class="badge badge-success">바로가기</a>&ensp;&ensp;{{ talk.title }}</p></li>
    {% endfor %}
  </ul>
  <hr>
  <ul class="list-group">
    <li class="list-group-item list-group-item-info">{{ person.username }}이 작성한 댓글</li>
    {% for talk_comment in person.talkcomment_set.all %}
      <li class="list-group-item"><p class="my-2"><a href="{% url 'articles:talk_detail' talk_comment.talk_article.pk %}" class="badge badge-success">바로가기</a>&ensp;&ensp;{{ talk_comment.content }}</p></li>
    {% endfor %}
  </ul>
  <hr>  


  {% comment %} <ul class="list-group">
    <li class="list-group-item list-group-item-primary">{{ person.username }}이 좋아요한 게시글</li>
    {% for review in person.like_review.all %}
      <li class="list-group-item"><p class="d-flex justify-content-between my-2">{{ review.title }}&ensp;<a href="{% url 'community:detail' review.pk %}" class="badge badge-success">Go</a></p></li>
    {% endfor %}
  </ul>
  <hr>
  <ul class="list-group mb-5">
    <li class="list-group-item list-group-item-danger">{{ person.username }}이 싫어요한 게시글</li>
    {% for review in person.unlike_review.all %}
      <li class="list-group-item"><p class="d-flex justify-content-between my-2">{{ review.title }}&ensp;<a href="{% url 'community:detail' review.pk %}" class="badge badge-success">Go</a></p></li>
    {% endfor %}
  </ul> {% endcomment %}
  

{% endblock %}