{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
  <div class="text-white mt-5 pt-3 w-75 mx-auto ns">
    <h3># 리뷰 수정</h3>
    <a href="{% url 'articles:review_index' %}"><button class="btn btn-sm btn-danger mt-2">뒤로가기</button></a>
  </div>
  <form action="" method="POST" class="form text-white mt-3 w-75 mx-auto" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
      <button type="submit" class="btn btn-danger">
        수정
      </button>
    {% endbuttons %}
  </form>
  
{% endblock %}

{% block script %}
  <script>
    // Radio
    const radios = document.querySelectorAll('.form-check')
    // console.log(radios)
    radios.forEach(function (radio) {
      radio.classList.add('d-inline-block')
    })

    const radios_form = document.querySelector('.radio')
    // console.log(radios_form)
    radios_form.classList.add('d-flex')
    radios_form.classList.add('justify-content-between')      
  </script>
{% endblock script %}
