{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
  <div class="mb-5">
    <h1>Review Detail</h1>
    <a class="btn btn-primary" href="{% url 'articles:review_index' %}">목록</a>
    {% if request.user == review.user %}
      <a class="btn btn-primary" href="{% url 'articles:review_update' review.pk %}">리뷰 수정</a>
      <form class="d-inline" action="{% url 'articles:review_delete' review.pk %}" method="POST">
        {% csrf_token %}
        <button class="btn btn-primary">리뷰 삭제</button>
      </form>
    {% endif %}
  </div>
  <!-- 본문 -->
  <div class="jumbotron py-5">
    <h3 class="display-5 mb-3">{{ review.title }}</h3>
    {% if review.image %}
      <img class="mb-3" src="{{ review.image.url }}" alt="{{ review.image }}">
    {% endif %}
    <p class="lead">평점{{ review.rank }}</p>
    <p class="lead">{{ review.content }}</p>
    <hr class="my-4">
    <p>작성시간 : {{ review.created_at }}</p>
    <p>수정시간 : {{ review.updated_at }}</p>
    <hr class="my-4">
    <!-- 추천 비추천 -->
    {% if request.user.is_authenticated %}
      <div class="container">
        <div class="row">
          <!-- 추천 -->
          <div class="col-2 d-flex flex-column justify-content-center align-items-center">
            <form id="like-form" class="mx-auto" data-review-pk="{{ review.pk }}">
              {% csrf_token %}
              {% if request.user in review.like.all %}
                <button class="btn btn-link btn-lg"><i id="like-icon" class="fas fa-thumbs-up"></i></button>
              {% else %}
                <button class="btn btn-link btn-lg"><i id="like-icon" class="far fa-thumbs-up"></i></button>
              {% endif %}
            </form>
            <p id="like-show">추천 {{ review.like.all|length }}개</p>
          </div>
          <!-- 비추천 -->
          <div class="col-2 d-flex flex-column justify-content-center align-items-center">
            <form id="unlike-form" class="" data-review-pk="{{ review.pk }}">
              {% csrf_token %}
              {% if request.user in review.unlike.all %}
                <button class="btn btn-link btn-lg" style="color:crimson"><i id="unlike-icon" class="fas fa-thumbs-down"></i></button>
              {% else %}
                <button class="btn btn-link btn-lg" style="color:crimson"><i id="unlike-icon" class="far fa-thumbs-down"></i></button>
              {% endif %}
            </form>
            <p id="unlike-show">비추천 {{ review.unlike.all|length }}개</p>
          </div>
        </div>
      </div>
    {% else %}
      <div>
        <p>리뷰를 추천하기 위해서는 로그인 해야합니다.</p>
      </div>
    {% endif %}
  </div>
  <hr>
  <!-- 댓글 작성 -->
  {% if request.user.is_authenticated %}
    <div>
      <form class="form" action="{% url 'articles:review_create_comment' review.pk %}" method="POST">
        {% csrf_token %}
        {% bootstrap_form review_comment_form %}
        {% buttons %}
          <button type="submit" class="btn btn-secondary">
            댓글작성
          </button>
        {% endbuttons %}
      </form>
    </div>
  {% endif %}
  <!-- 댓글 보여주기 -->
  <h4 class="mb-3">Comment</h4>
  <div class="mb-5">
    {% for review_comment in review_comments %}
      <ul class="list-group pl-0">
        <div class="list-group-item d-flex justify-content-between">
          <li class="d-inline">{{review_comment.user}}: {{ review_comment.content }}</li>
          {% if request.user == review_comment.user %}
            <form class="d-inline" action="{% url 'articles:review_delete_comment' review.pk review_comment.pk %}" method="POST">
              {% csrf_token %}
              <button class="btn btn-sm btn-secondary">삭제</button>
            </form>
          {% endif %}
        </div>
      </ul>
    {% endfor %}
  </div>
{% endblock %}
{% block script %}
  <script>
  // 추천 기능
  const likeForm = document.querySelector('#like-form')
  // console.log(likeForm)
  likeForm.addEventListener('submit', function (event) {
    event.preventDefault()
    // console.log(event)
    const reviewPk = event.target.dataset.reviewPk
    // console.log(reviewPk)
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
    const headers = {
      headers: {
        'X-CSRFToken': csrftoken
      },
    }
    axios.post(`/articles/review/${reviewPk}/like/`, {}, headers)
    .then(function (res) {
      // console.log(res.data)
      const liked = res.data.liked
      const likedCount = res.data.likedCount
    
      const likeIcon = document.querySelector('#like-icon')
  
      if (liked) {
        likeIcon.classList.remove('far')
        likeIcon.classList.add('fas', 'animate__animated', 'animate__bounce')
      } else {
        likeIcon.classList.remove('fas', 'animate__animated', 'animate__bounce')
        likeIcon.classList.add('far')
      }
      
      const likeShow = document.querySelector('#like-show')
      likeShow.innerText = `추천 ${likedCount}개`
    })
    .catch(function (err) {
      console.error(err)
    })
  })

  
  // 비추천 기능
  const unlikeForm = document.querySelector('#unlike-form')
  // console.log(unlikeForm)
  unlikeForm.addEventListener('submit', function (event) {
    event.preventDefault()
    // console.log(event)
    const reviewPk = event.target.dataset.reviewPk
    // console.log(reviewPk)
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
    const headers = {
      headers: {
        'X-CSRFToken': csrftoken
      },
    }
    axios.post(`/articles/review/${reviewPk}/unlike/`, {}, headers)
    .then(function (res) {
      // console.log(res)
      const unliked = res.data.unliked
      const unlikedCount = res.data.unlikedCount
      
      const unlikeIcon = document.querySelector('#unlike-icon')
      if (unliked) {
        unlikeIcon.classList.remove('far')
        unlikeIcon.classList.add('fas', 'animate__animated', 'animate__bounce')
      } else {
        unlikeIcon.classList.remove('fas', 'animate__animated', 'animate__bounce')
        unlikeIcon.classList.add('far')
      }

      const unlikeShow = document.querySelector('#unlike-show')
      unlikeShow.innerText = `비추천 ${unlikedCount}개`
    })
    .catch(function (err) {
      console.error(err)
    })
  })
  </script>
{% endblock  %}