{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
  <div class="my-5 text-white ns">
    <h1># 리뷰 상세조회</h1>
    <br>
    <a class="btn btn-warning ns" href="{% url 'articles:review_index' %}">목록</a>
    {% if request.user == review.user %}
      <a class="btn btn-warning ns" href="{% url 'articles:review_update' review.pk %}">리뷰 수정</a>
      <form class="d-inline" action="{% url 'articles:review_delete' review.pk %}" method="POST">
        {% csrf_token %}
        <button class="btn btn-warning ns">리뷰 삭제</button>
      </form>
    {% endif %}
  </div>
  <!-- 본문 -->
  <h4 class="text-white"><i class="fas fa-pen"></i> : <a class="text-white" href="{% url 'accounts:profile' review.user.pk %}">{{ review.user.username }}</a></h4>
  <div id="jumbo" class="jumbotron py-5 d-flex flex-column align-items-center bg-light text-body ns">
    <h2 class="display-5 mb-3">{{ review.title }}</h2>
    {% if review.image %}
      <img class="mb-3" src="{{ review.image.url }}" alt="{{ review.image }}">
    {% endif %}
    <p class="lead" style="text-align:center;">
      {% for star in stars %}
        <i class="fas fa-star text-warning"></i>
      {% endfor %}
    </p>
    <div id="content" class="w-100">
      <p class="lead text-white">{{ review.content | safe }}</p>
    </div>
    <br>
    <hr class="my-4 w-100 border border-warning">
    <!-- 추천 비추천 -->
    {% if request.user.is_authenticated %}
      <div class="container">
        <div class="row d-flex justify-content-center">
          <!-- 추천 -->
          <div class="d-flex flex-column justify-content-center align-items-center mx-auto">
            <form id="like-form" class="mx-auto" data-review-pk="{{ review.pk }}">
              {% csrf_token %}
              {% if request.user in review.like.all %}
                <button class="btn btn-link btn-lg"><i id="like-icon" class="fas fa-thumbs-up"></i></button>
              {% else %}
                <button class="btn btn-link btn-lg"><i id="like-icon" class="far fa-thumbs-up"></i></button>
              {% endif %}
            </form>
            <p id="like-show">추천 {{ review.like.all|length }}개</p>
          </div>
          <!-- 비추천 -->
          <div class="d-flex flex-column justify-content-center align-items-center mx-auto">
            <form id="unlike-form" class="" data-review-pk="{{ review.pk }}">
              {% csrf_token %}
              {% if request.user in review.unlike.all %}
                <button class="btn btn-link btn-lg" style="color:crimson"><i id="unlike-icon" class="fas fa-thumbs-down"></i></button>
              {% else %}
                <button class="btn btn-link btn-lg" style="color:crimson"><i id="unlike-icon" class="far fa-thumbs-down"></i></button>
              {% endif %}
            </form>
            <p id="unlike-show">비추천 {{ review.unlike.all|length }}개</p>
          </div>
        </div>
      </div>
    {% else %}
      <div>
        <p class="">리뷰를 추천하기 위해서는 로그인 해야합니다.</p>
      </div>
    {% endif %}
  </div>
  <p class="text-white-50 ns">작성시간 : {{ review.created_at }}</p>
  <p class="text-white-50 ns">수정시간 : {{ review.updated_at }}</p>
  <hr class="border-light">
  <!-- 댓글 작성 -->
  {% if request.user.is_authenticated %}
    <div>
      <form id="comment_form" class="form text-white" data-review-pk="{{ review.pk }}" action="{% url 'articles:review_create_comment' review.pk %}" method="POST">
        {% csrf_token %}
        {% bootstrap_form review_comment_form %}
        {% buttons %}
          <button type="submit" class="btn btn-secondary">
            댓글작성
          </button>
        {% endbuttons %}
      </form>
    </div>
  {% endif %}
  <!-- 댓글 보여주기 -->
  <h4 class="mb-3 text-white">Comment</h4>
  <div class="mb-5 ns">
    {% for review_comment in review_comments %}
      <ul class="list-group pl-0">
        <div class="list-group-item d-flex justify-content-between">
          <div>
            <li class="mb-2">{{review_comment.user}}: {{ review_comment.content }}</li>
            <li class="">생성 : {{ review_comment.created_at }} | 수정 : {{ review_comment.created_at }}</li>
          </div>
          <div>
            {% if request.user == review_comment.user %}
              <form class="mt-3" action="{% url 'articles:review_delete_comment' review.pk review_comment.pk %}" method="POST">
                {% csrf_token %}
                <button class="btn btn-sm btn-secondary">삭제</button>
              </form>
            {% endif %}
          </div>
        </div>
      </ul>
    {% endfor %}
  </div>
{% endblock %}
{% block script %}
  <script>
  // 추천 기능
  const likeForm = document.querySelector('#like-form')
  // console.log(likeForm)
  if (likeForm) {
    likeForm.addEventListener('submit', function (event) {
      event.preventDefault()
      // console.log(event)
      const reviewPk = event.target.dataset.reviewPk
      // console.log(reviewPk)
      const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
      const headers = {
        headers: {
          'X-CSRFToken': csrftoken
        },
      }
      axios.post(`/articles/review/${reviewPk}/like/`, {}, headers)
      .then(function (res) {
        // console.log(res.data)
        const liked = res.data.liked
        const likedCount = res.data.likedCount
      
        const likeIcon = document.querySelector('#like-icon')
    
        if (liked) {
          likeIcon.classList.remove('far')
          likeIcon.classList.add('fas', 'animate__animated', 'animate__bounce')
        } else {
          likeIcon.classList.remove('fas', 'animate__animated', 'animate__bounce')
          likeIcon.classList.add('far')
        }
        
        const likeShow = document.querySelector('#like-show')
        likeShow.innerText = `추천 ${likedCount}개`
      })
      .catch(function (err) {
        console.error(err)
      })
    })
  }

  // 비추천 기능
  const unlikeForm = document.querySelector('#unlike-form')
  // console.log(unlikeForm)
  if (unlikeForm) {
    unlikeForm.addEventListener('submit', function (event) {
      event.preventDefault()
      // console.log(event)
      const reviewPk = event.target.dataset.reviewPk
      // console.log(reviewPk)
      const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
      const headers = {
        headers: {
          'X-CSRFToken': csrftoken
        },
      }
      axios.post(`/articles/review/${reviewPk}/unlike/`, {}, headers)
      .then(function (res) {
        // console.log(res)
        const unliked = res.data.unliked
        const unlikedCount = res.data.unlikedCount
        
        const unlikeIcon = document.querySelector('#unlike-icon')
        if (unliked) {
          unlikeIcon.classList.remove('far')
          unlikeIcon.classList.add('fas', 'animate__animated', 'animate__bounce')
        } else {
          unlikeIcon.classList.remove('fas', 'animate__animated', 'animate__bounce')
          unlikeIcon.classList.add('far')
        }
  
        const unlikeShow = document.querySelector('#unlike-show')
        unlikeShow.innerText = `비추천 ${unlikedCount}개`
      })
      .catch(function (err) {
        console.error(err)
      })
    })
  }

  // content 이미지 크기 조절
  const imgTag = document.querySelector('#content p > img')
  // console.log(imgTag)
  if (imgTag) {
    imgTag.setAttribute('style', 'width:100% !important')
    imgTag.classList.add('rounded')
  }

  const pTags = document.querySelectorAll('#content > p')
  // console.log(pTags)
  pTags.forEach(function (pTag) {
    // console.log(pTag)
    // pTag.style.text-align = 'center'
    pTag.style.wordBreak = 'break-all'
    pTag.style.whiteSpace = 'normal'
    pTag.style.width = '100%'
  })

  // 댓글 작성 비동기 요청 처리
  // const commentForm = document.querySelector('#comment_form')
  // // console.log(commentForm)
  // commentForm.addEventListener('submit', function (event) {
  //   event.preventDefault()
  //   // console.log('이벤트 발생!!!!!')
  //   // console.log(event.target)
  //   const inputData = document.querySelector('#id_content').value
  //   // console.log(inputData)
  //   const reviewPk = event.target.dataset.reviewPk
  //   const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
  //   // console.log(reviewPk, csrftoken)
  //   const headers = {
  //     headers: {
  //       'X-CSRFToken': csrftoken
  //     }
  //   }

  //   const data = {
  //     'inputData': inputData,
  //   }  
      
  //   axios.post(`/articles/review/${reviewPk}/comments/`, data, headers)
  //     .then(res => {
  //       console.log(res.data)
  //     })
  //     .catch(err => {
  //       console.log(err)
  //     })
  // })
  </script>
{% endblock  %}