{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
  <div class="my-5 text-white">
    <h1>Talk Detail</h1>
    <a class="btn btn-primary" href="{% url 'articles:talk_index' %}">목록</a>
    {% if request.user == talk.user %}
      <a class="btn btn-primary" href="{% url 'articles:talk_update' talk.pk %}">글 수정</a>
      <form class="d-inline" action="{% url 'articles:talk_delete' talk.pk %}" method="POST">
        {% csrf_token %}
        <button class="btn btn-primary">글 삭제</button>
      </form>
    {% endif %}
  </div>
  <!-- 본문 -->
  <div id="jumbo" class="jumbotron pt-5 pb-0 d-flex flex-column align-items-center bg-dark text-white-50">
    <h3 class="display-5 mb-3">{{ talk.title }}</h3>
    {% if talk.image %}
      <img class="mb-3" src="{{ talk.image.url }}" alt="{{ talk.image }}">
    {% endif %}
    <p class="lead">{{ talk.content | safe }}</p>
    <hr class="my-4">
  </div>
  <p class="text-white-50">작성시간 : {{ talk.created_at }}</p>
  <p class="text-white-50">수정시간 : {{ talk.updated_at }}</p>
  <!-- 댓글 작성 -->
  {% if request.user.is_authenticated %}
    <div>
      <form class="form text-white" action="{% url 'articles:talk_create_comment' talk.pk %}" method="POST">
        {% csrf_token %}
        {% bootstrap_form talk_comment_form %}
        {% buttons %}
          <button type="submit" class="btn btn-secondary">
            댓글작성
          </button>
        {% endbuttons %}
      </form>  
    </div>
  {% endif %}
  <!-- 댓글 보여주기 -->
  <div>
    <h4 class="mb-3 text-white">Comment</h4>
    <div class="mb-5">
      {% for talk_comment in talk_comments %}
        <ul class="list-group pl-0">
          <div class="list-group-item d-flex justify-content-between">
            <div>
              <li class="mb-2">{{talk_comment.user}}: {{ talk_comment.content }}</li>
              <li class="">생성 : {{ talk_comment.created_at }} | 수정 : {{ talk_comment.created_at }}</li>
            </div>
            <div>
              {% if request.user == talk_comment.user %}
                <form class="mt-3" action="{% url 'articles:talk_delete_comment' talk.pk talk_comment.pk %}" method="POST">
                  {% csrf_token %}
                  <button class="btn btn-sm btn-secondary">삭제</button>
                </form>
              {% endif %}
            </div>
          </div>
        </ul>
      {% endfor %}
    </div>
  </div>
{% endblock %}

{% block script %}
  <script>
    const imgTag = document.querySelector('#jumbo > p > img')
    // console.log(imgTag)
    imgTag.setAttribute('style', 'width:100% !important')
    imgTag.classList.add('rounded')

    const pTag = document.querySelectorAll('#jumbo > p')[2]
    console.log(pTag)
    pTag.style.width = '100%'
    pTag.style.whiteSpace = 'normal'
    pTag.style.wordBreak = 'break-all'    
  </script>
{% endblock script %}
