{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
  <div class="mb-5">
    <h1>Talk Detail</h1>
    <a class="btn btn-primary" href="{% url 'articles:talk_index' %}">목록</a>
  </div>
  <!-- 본문 -->
  <div>
    <h3>{{ talk.title }}</h3>
    {% if talk.image %}
      <img src="{{ talk.image.url }}" alt="{{ talk.image }}">
    {% endif %}
    <p>내용 : {{ talk.content }}<p>
    <p>작성시간 : {{ talk.created_at }}</p>
    <p>수정시간 : {{ talk.updated_at }}</p>
  </div>
  <!-- 수정, 삭제 -->
  <div>
    <a class="btn btn-info" href="{% url 'articles:talk_update' talk.pk %}">잡담글 수정</a>
    <form class="d-inline" action="{% url 'articles:talk_delete' talk.pk %}" method="POST">
      {% csrf_token %}
      <button class="btn btn-info">잡담글 삭제</button>
    </form>
  </div>
  <!-- 댓글 작성 -->
  <div>
    <form class="form" action="{% url 'articles:talk_create_comment' talk.pk %}" method="POST">
      {% csrf_token %}
      {% bootstrap_form talk_comment_form %}
      {% buttons %}
        <button type="submit" class="btn btn-secondary">
          댓글작성
        </button>
      {% endbuttons %}
    </form>  
  </div>
  <!-- 댓글 보여주기 -->
  <div>
    {% for talk_comment in talk_comments %}
      <li>{{talk_comment.user}}: {{ talk_comment.content }}</li>
      <form class="d-inline" action="{% url 'articles:talk_delete_comment' talk.pk talk_comment.pk %}" method="POST">
        {% csrf_token %}
        <button>댓글삭제</button>
      </form>      
    {% endfor %}
  </div>
{% endblock %}